<!DOCTYPE html>
<html lang="en" lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Projet de Session</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/bootstrap-4.4.1-dist/css/bootstrap.css">
</head>
<body>
<div>
      {% include "header.html" %}
</div>
<div  style="text-align:center">
    <div id="alert" class="alert alert-success" role="alert">
        La plainte a bien été recue!
    </div>

    <div>
        Détail de la demande : 
        {{ inspection.nom, inspection.ville, inspection.date_visite,
            inspection.nom_plaignant, inspection.description }}
    </div>
</div>
</body>
</html>
